# Core
Django>=5.0,<6.0
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt>=5.3,<6.0

# Infra
python-dotenv>=1.0,<2.0
structlog>=24.1,<25.0

# Test
pytest>=7.4,<9.0
pytest-django>=4.7,<5.0
ruff>=0.5,<0.6
